@import 'animations';

body { font-family: "Kalam","Helvetica","Arial Bold",Gadget,sans-serif; }
.bold { font-family: "KalamBold","Helvetica Bold","Arial Bold",Gadget,sans-serif; }
.light { font-family: "KalamLight", Gadget,sans-serif; }

.hello { background: red; }
