@import 'animations';

body { font-family: "Helvetica Neue","Helvetica","Arial Bold",Gadget,sans-serif !important; }
.bold { font-family: "HelvNeueBold","Helvetica Bold","Arial Bold",Gadget,sans-serif !important; }
.light { font-family: "HelvNeueLight", Gadget,sans-serif !important; }

.hello { background: red; }